.btn {
  display: inline-block;
  width: 100%;
  padding: 15px;
  .font-set(21px, 26px, bold);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  color: @white;
  background-color: @color-base;
  box-sizing: border-box;
  border: none;
  outline: none;
  cursor: pointer;
}
