.btn {
  display: inline-block;
  width: 100%;
  padding: 15px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  color: @white;
  background-color: @color-base;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}
