.creator {
  margin: 0;
  padding: 0;
  padding-top: 4px;
  .font(14px, 26px);
}

.creator__link {
  display: inline-block;
  height: 35px;
  font-size: 0;
  text-decoration: none;
  vertical-align: middle;
  outline: none;
  fill: @black;

  &:hover,
  &:focus {
    fill: @color-base;
  }

  &:active {
    fill: fade(@black, 30%);
  }

  & svg {
    width: 28px;
    height: 35px;
    margin-left: 8px;
  }
}

@media (min-width: @tablet) {
  .creator {
    padding-top: 0;
  }
}
