.feedback__fieldset {
  position: relative;
  margin: 0;
  .container();
  padding-top: 20px;
  padding-bottom: 23px;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: @dark;
    opacity: 0.3;
  }

  &--contacts {
    padding-bottom: 28px;
  }

  &--impression {
    padding-bottom: 26px;
  }

  &--sight {
    padding-bottom: 2px;
  }
}

.feedback__legend {
  width: 100%;
  margin: 0;
  margin-bottom: 12px;
  .font-set(18px, 24px, bold);
  text-align: center;

  &--impression {
    margin-bottom: 20px;
  }

  &--sight {
    margin-bottom: 15px;
  }
}

.feedback__label {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 9px;
  .font(14px, 24px);

  &[for="tel"],
  &[for="mail"] {
    padding-top: 10px;
    padding-left: 21px;
    flex-wrap: wrap;
  }

  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.feedback__input {
  flex-grow: 1;
  width: 100%;
  margin-bottom: 1px;
  margin-left: 15px;
  padding: 19px 22px;
  .font-set(18px, 18px, bold);
  background-color: @color-bg;
  border: none;
  box-sizing: border-box;

  &[id="tel"],
  &[id="mail"] {
    margin-top: 7px;
    margin-left: -21px;
    padding: 16px 22px;
  }

  &::placeholder {
    color: @black;
    opacity: 1;
  }
}

.feedback__input-radio,
.feedback__input-check {
  display: none;
}

.feedback__label-check,
.feedback__label-radio {
  position: relative;
  display: block;
  // padding-top: 20px;
  // padding-bottom: 20px;
  padding-left: 79px;
  .font-set(18px, 20px, bold);
  text-transform: none;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 56px;
    height: 56px;
    background-color: @color-bg;
    border-radius: 5px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.feedback__label-radio {
  margin-top: 6px;
  padding-top: 21px;
  padding-bottom: 21px;

  &::before {
    border-radius: 50%;
  }
  // &:not(:first-child):not(:last-child) {
  //    margin: 48px 0;
  //    padding-top: 28px;
  //    padding-bottom: 34px;
  // }
  //    &:last-child {
  //    margin-bottom: 22px;
  // }
}

.feedback__label-check {
  // margin-top: 6px;
  margin-bottom: 19px;
  padding-top: 21px;
  padding-bottom: 21px;
  // &:not(:first-child):not(:last-child) {
  //   margin-top: 39px;
  //   margin-bottom: 60px;
  // }
}

.feedback__input-radio:checked + ::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 18px;
  width: 20px;
  height: 20px;
  background-color: @dark;
  border-radius: 50%;
  transform: translateY(-50%);
}

.feedback__input-check:checked + ::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 21px;
  width: 10px;
  height: 18px;
  border: 4px solid @dark;
  border-left-style: none;
  border-top-style: none;
  border-radius: 2px;
  transform: translateY(-50%) rotate(45deg);
}

.feedback__textarea {
  display: block;
  width: 100%;
  height: 160px;
  margin-top: 20px;
  padding: 15px 20px;
  .font-set(18px, 26px, bold);
  color: @black;
  background-color: @color-bg;
  border: none;
  box-sizing: border-box;
  outline: none;
  resize: none;

  &::placeholder {
    .font-set(18px, 26px, bold);
    color: @black;
    opacity: 1;
  }
}

.feedback__submit {
  display: flex;
  justify-content: center;
  .container();
  padding-top: 27px;
  padding-bottom: 38px;
  box-sizing: border-box;
}

.feedback__btn {
  max-width: 325px;
}

.feedback__required {
  display: none;
}

@media (min-width: @tablet) {
  .feedback {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
  }

  .feedback__fieldset {
    width: 100%;
    box-sizing: border-box;

    &--impression {
      width: 50%;
      order: 1;
    }

    &--fullname {
      width: 50%;
      order: 2;
    }

    &--contacts {
      order: 3;
    }

    &--sight {
      order: 4;
    }

    &--comment {
      order: 5;
    }

    &::before {
      display: none;
    }
  }

  .feedback__legend {
    .font-set(21px, 26px, bold);

    &--fullname {
      text-align: left;
    }
  }

  .feedback__group {
    &--sight {
      display: flex;
      flex-wrap: wrap;
      width: 75%;
      margin: 0 auto;
    }
  }

  .feedback__label-check {
    width: 50%;
    box-sizing: border-box;
  }

  .feedback__submit {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    order: 6;
  }

  .feedback__btn {
    width: 50%;
    max-width: none;
  }

  .feedback__required {
    display: inline-block;
    color: #333333;
  }
}

@media (min-width: @desktop) {
  .feedback__label {
    &[for="tel"],
    &[for="mail"] {
      width: 50%;
      padding: 0;
      flex-wrap: nowrap;

      &:nth-child(2n-1) {
        margin-right: 80px;
      }
    }
  }

  .feedback__input {
    &[id="tel"],
    &[id="mail"] {
      margin-left: 15px;
    }
  }

  .feedback__group {
    &--impression {
      padding-left: 80px;
    }

    &--contacts {
      display: flex;
      justify-content: space-between;
    }
  }
}
