.feedback__fieldset {
  position: relative;
  margin: 0;
  padding: 20px;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: @dark;
    opacity: 0.3;
  }
}

.feedback__legend {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.feedback__label {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 11px;

  &[for="tel"],
  &[for="mail"] {
    padding-left: 20px;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.feedback__input {
  flex-grow: 1;
  width: 100%;
  margin-left: 15px;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: @color-bg;
  border: none;
  box-sizing: border-box;

  &::placeholder{
    color: @black;
    opacity: 1;
  }
}

.feedback__label[for="tel"] + .feedback__input,
.feedback__label[for="mail"] + .feedback__input {
  margin-left: 0;
}

.feedback__input-radio,
.feedback__input-check {
  display: none;
}

.feedback__label-check,
.feedback__label-radio {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 80px;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 56px;
    height: 56px;
    background-color: @color-bg;
    border-radius: 5px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.feedback__label-radio {

  &:not(:first-child):not(:last-child) {
    margin: 48px 0;
  }

  &::before {
    border-radius: 50%;
  }
}

.feedback__label-check {
  &:not(:first-child):not(:last-child) {
    margin: 56px 0;
  }
}

.feedback__input-radio:checked + ::after {
  content: "";
  position: absolute;
  top: 0;
  left: 18px;
  width: 20px;
  height: 20px;
  background-color: @dark;
  border-radius: 50%;
}

.feedback__input-check:checked + ::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 21px;
  width: 10px;
  height: 18px;
  border: 4px solid @dark;
  border-left-style: none;
  border-top-style: none;
  border-radius: 2px;
  transform: rotate(45deg);
}

.feedback__textarea {
  display: block;
  width: 100%;
  height: 160px;
  padding: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: @black;
  background-color: @color-bg;
  border: none;
  box-sizing: border-box;
  outline: none;
  resize: none;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: @black;
    opacity: 1;
  }
}

.feedback__btn {
  padding: 40px 20px;
}
