.feedback__fieldset {
  position: relative;
  .container();
  margin: 0;
  padding: 20px;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: @dark;
    opacity: 0.3;
  }
}

.feedback__legend {
  width: 100%;
  margin: 0;
  margin-bottom: 18px;
  .font-set(18px, 24px, bold);
  text-align: center;

  &--fullname {
    margin-bottom: 18px;
  }

  &--contacts {
    margin-bottom: 22px;
  }

  &--impression {
    margin-bottom: 24px;
  }

  &--sight {
    margin-bottom: 18px;
  }

  &--comment {
    margin-bottom: 19px;
  }
}

.feedback__label {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  .font(14px, 24px);

  &[for="tel"],
  &[for="mail"] {
    margin-top: 9px;
    margin-bottom: 9px;
    padding-left: 21px;
    flex-wrap: wrap;
  }

  &:last-child {
    padding-bottom: 0;
    margin-bottom: 1px;
  }
}

.feedback__input {
  flex-grow: 1;
  width: 100px;
  margin-top: 5px;
  margin-bottom: 6px;
  margin-left: 15px;
  padding: 20px 22px;
  .font-set(18px, 18px, bold);
  background-color: @color-bg;
  border: none;

  &[id="tel"],
  &[id="mail"] {
    width: 100%;
    margin-top: 7px;
    margin-left: -21px;
    padding: 20px 0;
    padding-left: 21px;
  }

  &::placeholder {
    color: @black;
    opacity: 1;
  }
}

.feedback__input-radio,
.feedback__input-check {
  display: none;
}

.feedback__label-check,
.feedback__label-radio {
  position: relative;
  display: block;
  padding-left: 78px;
  .font-set(18px, 20px, bold);
  text-transform: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 56px;
    height: 56px;
    background-color: @color-bg;
    border-radius: 5px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.feedback__label-radio {
  margin-top: 13px;
  margin-bottom: 8px;
  padding-top: 18px;
  padding-bottom: 18px;

  &::before {
    border-radius: 50%;
  }
}

.feedback__label-check {
  margin-top: 18px;
  margin-bottom: 24px;
  padding-top: 18px;
  padding-bottom: 18px;

  &:last-child {
    margin-bottom: 7px;
  }
}

.feedback__input-radio:checked + ::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 18px;
  width: 20px;
  height: 20px;
  background-color: @dark;
  border-radius: 50%;
  transform: translateY(-50%);
}

.feedback__input-check:checked + ::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 21px;
  width: 10px;
  height: 18px;
  border: 4px solid @dark;
  border-left-style: none;
  border-top-style: none;
  border-radius: 2px;
  transform: translateY(-50%) rotate(45deg);
}

.feedback__textarea {
  display: block;
  width: 100%;
  height: 160px;
  padding: 15px 20px;
  .font-set(18px, 26px, bold);
  color: @black;
  background-color: @color-bg;
  border: none;
  box-sizing: border-box;
  outline: none;
  resize: none;

  &::placeholder {
    .font-set(18px, 26px, bold);
    color: @black;
    opacity: 1;
  }
}

.feedback__submit {
  display: flex;
  justify-content: center;
  .container();
  margin-top: 30px;
  margin-bottom: 38px;
  box-sizing: border-box;
}

.feedback__btn {
  max-width: 325px;
}

.feedback__required {
  display: none;
}

@media (min-width: @tablet) {
  .feedback {
    display: flex;
    flex-wrap: wrap;
    margin-top: 36px;
    padding-left: 8px;
    padding-right: 10px;
  }

  .feedback__fieldset {
    width: 100%;
    box-sizing: border-box;

    &--impression {
      width: 50%;
      order: 1;
    }

    &--fullname {
      width: 50%;
      padding-left: 58px;
      order: 2;
    }

    &--contacts {
      order: 3;
    }

    &--sight {
      padding-top: 10px;
      padding-bottom: 24px;
      order: 4;
    }

    &--comment {
      padding-left: 52px;
      order: 5;
    }

    &::before {
      display: none;
    }
  }

  .feedback__legend {
    .font-set(21px, 26px, bold);

    &--impression {
      margin-bottom: 58px;
    }

    &--fullname {
      margin-bottom: 53px;
      text-align: left;
    }

    &--contacts {
      margin-top: 22px;
      margin-bottom: 26px;
    }

    &--sight {
      width: 300px;
      margin: 0 auto;
      margin-bottom: 22px;
    }

    &--comment {
      margin-bottom: 58px;
    }
  }

  .feedback__group {
    &--sight {
      margin-top: 32px;
      margin-left: 98px;
      margin-right: 90px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  .feedback__label {
    margin-top: 9px;

    &[for="tel"],
    &[for="mail"] {
      margin-top: 11px;
      margin-bottom: 9px;
      padding-left: 22px;
    }
  }

  .feedback__input {
    &[id="tel"],
    &[id="mail"] {
      margin-top: 8px;
      margin-bottom: 13px;
      margin-left: -20px;
      padding: 20px 0;
      padding-left: 21px;
    }
  }

  .feedback__label-radio {
    margin-top: 22px;
    margin-bottom: 8px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .feedback__label-check {
    width: 44%;
    margin-top: 9px;
    margin-bottom: 24px;
    box-sizing: border-box;

    &:last-child {
      margin-bottom: 24px;
    }
  }

  .feedback__submit {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 46px;
    padding-left: 52px;
    order: 6;
  }

  .feedback__btn {
    width: 50%;
    max-width: none;
  }

  .feedback__required {
    display: inline-block;
    color: #333333;
  }
}

@media (min-width: @desktop) {
  .feedback {
    margin-top: 20px;
    padding-left: 68px;
    padding-right: 70px;
  }

  .feedback__legend {
    &--fullname {
      padding-left: 23px;
    }

    &--contacts {
      margin-bottom: 53px;
    }
  }

  .feedback__group {
    &--impression {
      padding-left: 4px;
    }

    &--fullname {
      padding-left: 23px;
    }

    &--sight {
      display: flex;
      flex-wrap: nowrap;
      width: 100;
      margin-left: 0;
      margin-right: 0;
    }

    &--contacts {
      display: flex;
    }
  }

  .feedback__label {
    &[for="tel"],
    &[for="mail"] {
      width: 40%;
      padding: 0;
      flex-wrap: nowrap;

      &:nth-child(2n) {
        margin-left: 97px;
      }
    }
  }

  .feedback__input {
    &[id="tel"],
    &[id="mail"] {
      margin-left: 18px;
    }
  }

  .feedback__label-check {
    width: auto;
    margin-top: 10px;
    margin-left: 2px;
    box-sizing: border-box;

    &:last-child {
      padding-left: 84px;
    }
  }

  .feedback__submit {
    margin-top: 38px;
    margin-bottom: 42px;
  }
}
