.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 56px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  z-index: 3;

  &--closed::before {
    content: "";
    position: absolute;
    top: 18px;
    right: 20px;
    width: 24px;
    height: 4px;
    background-color: @color-base;
    box-shadow: 0 8px 0 0 @color-base, 0 16px 0 0 @color-base;
  }

  &--opened::before,
  &--opened::after {
    content: "";
    position: absolute;
    top: 26px;
    right: 18px;
    width: 28px;
    height: 4px;
    background-color: @white;
  }

  &--opened::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &--opened::after {
    transform: rotate(-45deg);
  }

  &--nojs {
    display: none;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  .list-reset();
}

.main-nav__item {
  background-color: @color-base;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  &--logo {
    background-color: transparent;
    order: 2;
    z-index: 2;
  }

  &:first-child {
    border: none;
  }

  &:last-child {
    border-bottom: none;
    box-shadow: inset 0 -5px 5px -5px fade(@black, 20%);
  }

  &:hover:not(.main-nav__item--logo),
  &:focus:not(.main-nav__item--logo) {
    background-color: @color-hover;
  }

  &:active:not(.main-nav__item--logo) {
    background-color: @color-active;
  }

  &--active:hover:not(.main-nav__item--logo),
  &--active:active:not(.main-nav__item--logo) {
    background-color: @color-base;
  }
}

.main-nav__link {
  display: block;
  padding-top: 17px;
  padding-bottom: 19px;
  .font-set(18px, 18px, bold);
  color: @white;
  text-align: center;
  text-decoration: none;
  outline: none;

  &--logo {
    min-height: 30px;
    padding: 0;
    // pointer-events: none;
    & img {
      width: 102px;
      height: 83px;
    }
  }

  &--active {
    color: #766357;
    pointer-events: none;

    &:hover,
    &:focus {
      color: #604e43;
    }
  }

  &:active {
    color: fade(@white, 30%);
  }
}

// .main-nav__logo {
//   width: 102px;
//   height: 83px;

  // &--tablet {
  //   display: none;
  // }

  // &--desktop {
  //   display: none;
  // }
// }

@media (max-width: @mobile-only) {
  .main-nav--closed .main-nav__item {
    display: none;

    &--logo {
      display: block;
    }
  }

  .main-nav--nojs {
    & .main-nav__toggle {
      display: none;
    }

    & .main-nav__item {
      display: block;
    }
  }
}

@media (min-width: @tablet) {
  .main-nav {
    min-height: 56px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__item {
    background-color: @white;
    border: none;

    &--left {
      flex-basis: 33%;
      order: 1;
    }

    &--logo {
      background-color: transparent;
      flex-basis: 33%;
      order: 2;
    }

    &--right {
      flex-basis: 33%;
      order: 3;
    }

    &:last-child {
      box-shadow: none;
    }

    &:hover:not(.main-nav__item--logo),
    &:focus:not(.main-nav__item--logo) {
      background-color: transparent;
    }

    &:active:not(.main-nav__item--logo) {
      background-color: transparent;
    }
  }

  .main-nav__link {
    &:not(.main-nav__link--logo) {
      padding-top: 20px;
      padding-bottom: 22px;
      .font-set(14px, 14px, bold);
      color: @black;
    }

    &:hover:not(.main-nav__link--logo),
    &:focus:not(.main-nav__link--logo) {
      color: @color-hover;
    }

    &:active:not(.main-nav__link--logo) {
      color: fade(@black, 30%);
    }

    &--active:not(.main-nav__link--logo) {
      color: #766357;

      &:hover,
      &:focus {
        color: #604e43;
      }
    }
  }

  // .main-nav__logo {
  //   &--tablet {
  //     display: block;
  //   }
  // }
}

@media (min-width: @desktop) {
  .main-nav {
    min-height: 96px;
  }

  .main-nav__link--logo {
    & img {
      width: 187px;
      height: 96px;
    }
  }

  .main-nav__logo {
    width: 187px;
    height: 96px;

    // &--desktop {
    //   display: block;
    // }
  }
}
