.page-header__intro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: -30px;
  background: @color-bg url('../../img/bg-back-mobile@1x.jpg') no-repeat center;
  background-size: cover;

  &--index {
    height: 390px;
  }

  &--inner {
    height: 290px;
  }
}

.page-header__triangle {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
