.page-header {
  background-color: @white;
}

.page-header__intro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: -30px;
  background-color: @color-bg;
  background-image: url("../../img/bg-intro-triangle-mobile.svg"), url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;

  &--index {
    height: 390px;
    margin-bottom: 4px;
  }

  &--inner {
    height: 157px;
    margin-bottom: 2px;

    .page-header__text {
      margin-top: -15px;
    }
  }
}
