.section {
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

.section__title {
  padding: 10px 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.section__subtitle {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.section__text {
  font-size: 14px;
  line-height: 26px;
  color: @dark;
}
