.socials {
  margin: 33px 0;
}

.socials__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .list-reset();
}

.socials__item {
  margin: 3px 0;
}

.socials__item:not(:last-child) {
  margin-right: 6px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 48px;
  background-color: @color-base;
  vertical-align: middle;
  outline: none;
  fill: @white;

  &:hover,
  &:focus {
    background-color: @color-hover;
  }

  &:active {
    background-color: @color-active;
    fill: fade(@white, 30%);
  }
}

@media (min-width: @tablet) {
  .socials,
  .socials__item {
    margin: 0;
  }

  .socials {
    margin-right: 6px;
  }
}

@media (min-width: @desktop) {
  .socials {
    margin: 11px 0;
    margin-right: 10px;
  }
}
