.socials {
  margin: 20px 0;
}

.socials__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .list-reset();
}

.socials__item {
  margin: 3px 0;
}

.socials__item:not(:last-child) {
  margin-right: 6px;
}

.socials__link {
  display: block;
  width: 47px;
  height: 48px;
  background-color: @color-base;
  background-repeat: no-repeat;
  background-position: center;
}

.socials__link--tw {
  background-image: url("../../img/icon-twitter.svg");
}

.socials__link--fb {
  background-image: url("../../img/icon-facebook.svg");
}

.socials__link--yt {
  background-image: url("../../img/icon-youtube.svg");
}
