.video {
  position: relative;
  padding-top: 13px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: @dark;
    opacity: 0.3;
  }
}

.video__info {
  .container();
}

.video__player {
  margin-top: 33px;
  margin-bottom: 85px;
}
