html,
body {
  height: 100%;
  width: 320px;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 260px;
  min-height: 100vh;
  margin: 0;
  word-wrap: break-word;
  font-family: @font-primary;
  .font(@font-size, @line-height);
  text-transform: uppercase;
  color: @black;
  background-color: @white;
}

img {
  max-width: 100%;
  height: auto;
}
