.container() {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.font(@font-size, @line-height) {
  font-size: @font-size;
  line-height: @line-height;
}

.font-set(@font-size, @line-height, @font-weight) {
  font-size: @font-size;
  line-height: @line-height;
  font-weight: @font-weight;
}

.list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}
